body {
  
 }
#encanth {
width: 100%;
}
.principal{
  background:#CCCCCC

}
 h1 {
     text-align: center;
 }

p {
    text-align: center;
  }

  #missao {
    font-size: 20px;
  }

 em strong {
      color: #FF0000;
  } 

  .itens {  
    font-style: italic;
  }

  .beneficios{
    background:#FFFFFF;
  }


  /* As "classes" são ativadas com um ponto (.), diferente do "identificador" 
   que é com a tralha (#). Elas estilizam igualmente todas os itens
   que estiverem com ela e o identificador para itens específicos.*/